<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.sinfotech.bgmap"
        version="0.0.1">

  <name>Bgmap</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/bgmap.js" target="js/bgmap.js"/>

  <js-module src="www/bgmap.js" name="bgmap">
    <clobbers target="bgmap" />
  </js-module>

  <platform name="android">

    <config-file target="AndroidManifest.xml" parent="application">
      <activity
        android:name="android.intent.action.VIEW"
        android:launchMode="singleTop"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </config-file>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Bgmap">
        <param name="android-package" value="com.sinfotech.bgmap.Bgmap"/>
      </feature>
    </config-file>

    <source-file src="src/android/Bgmap.java" target-dir="src/com/example/plugin/"/>
  </platform>
</plugin>
